# **Importação dos dados**

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

import numpy as np
import pandas as pd

import seaborn as sns
from matplotlib import pyplot as plt

In [ ]:
credit_df = pd.read_csv('https://raw.githubusercontent.com/alanammorais/ml_Uniesp/master/datasets/credit.csv')
credit_df.head()

,Id,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad

In [ ]:
credit_df.columns

Index(['Id', 'Age', 'Sex', 'Job', 'Housing', 'Saving accounts',
       'Checking account', 'Credit amount', 'Duration', 'Purpose', 'Risk'],
      dtype='object')

In [ ]:
credit_df.Risk.value_counts()

good    700
bad     300
Name: Risk, dtype: int64


### **-- Precisamos preprocessar os dados -- Tarefa de vcs!!**

In [ ]:
credit_df['Risk_Num'] = np.where(credit_df['Risk']=='good', 1, 0)
credit_df.Risk_Num.value_counts()

1    700
0    300
Name: Risk_Num, dtype: int64

In [ ]:
# Cria classe nova para NAs
credit_df=credit_df.fillna('Null')

credit_df.head()

,Id,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk,Risk_Num
0,0,67,male,2,own,Null,little,1169,6,radio/TV,good,1
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad,0
2,2,49,male,1,own,little,Null,2096,12,education,good,1
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good,1
4,4,53,male,2,free,little,little,4870,24,car,bad,0

In [ ]:
# Entendendo as variaveis categoricas
print(credit_df['Job'].value_counts())
print(credit_df['Housing'].value_counts())
print(credit_df['Saving accounts'].value_counts())
print(credit_df['Checking account'].value_counts())
print(credit_df['Purpose'].value_counts())

2    630
1    200
3    148
0     22
Name: Job, dtype: int64
own     713
rent    179
free    108
Name: Housing, dtype: int64
little        603
Null          183
moderate      103
quite rich     63
rich           48
Name: Saving accounts, dtype: int64
Null        394
little      274
moderate    269
rich         63
Name: Checking account, dtype: int64
car                    337
radio/TV               280
furniture/equipment    181
business                97
education               59
repairs                 22
domestic appliances     12
vacation/others         12
Name: Purpose, dtype: int64

In [ ]:
# Converte as variaveis categoricas em dummies
credit_df=pd.get_dummies(credit_df)

credit_df.head()

,Id,Age,Job,Credit amount,Duration,Risk_Num,Sex_female,Sex_male,Housing_free,Housing_own,...,Purpose_business,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others,Risk_bad,Risk_good
0,0,67,2,1169,6,1,0,1,0,1,...,0,0,0,0,0,1,0,0,0,1
1,1,22,2,5951,48,0,1,0,0,1,...,0,0,0,0,0,1,0,0,1,0
2,2,49,1,2096,12,1,0,1,0,1,...,0,0,0,1,0,0,0,0,0,1
3,3,45,2,7882,42,1,0,1,1,0,...,0,0,0,0,1,0,0,0,0,1
4,4,53,2,4870,24,0,0,1,1,0,...,0,1,0,0,0,0,0,0,1,0

In [ ]:
# As variaveis numericas nao sao convertidas, entao
# vamos primeiro criar um df com as dummies dela, depois adicionamos ao nosso df original
dummy_job = pd.get_dummies(credit_df['Job'])
dummy_job = dummy_job.rename(columns={0: "Job 0", 1: "Job 1", 2: "Job 2", 3: "Job 3"})
dummy_job.head()

   Job 0  Job 1  Job 2  Job 3
0      0      0      1      0
1      0      0      1      0
2      0      1      0      0
3      0      0      1      0
4      0      0      1      0

In [ ]:
# Passa as variaveis Job para nossa base
credit_df["Job_0"] = dummy_job["Job 0"]
credit_df["Job_1"] = dummy_job["Job 1"]
credit_df["Job_2"] = dummy_job["Job 2"]
credit_df["Job_3"] = dummy_job["Job 3"]
credit_df.head()

,Id,Age,Job,Credit amount,Duration,Risk_Num,Sex_female,Sex_male,Housing_free,Housing_own,...,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others,Risk_bad,Risk_good,Job_0,Job_1,Job_2,Job_3
0,0,67,2,1169,6,1,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0
1,1,22,2,5951,48,0,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
2,2,49,1,2096,12,1,0,1,0,1,...,0,0,0,0,0,1,0,1,0,0
3,3,45,2,7882,42,1,0,1,1,0,...,1,0,0,0,0,1,0,0,1,0
4,4,53,2,4870,24,0,0,1,1,0,...,0,0,0,0,1,0,0,0,1,0

## **Segmentando a amostra**

In [ ]:
metrics = ['Age','Sex_female','Job_0','Job_1','Job_2','Credit amount','Duration','Housing_free','Housing_own','Saving accounts_Null','Saving accounts_little','Saving accounts_moderate','Saving accounts_quite rich','Checking account_Null','Checking account_little','Checking account_moderate','Purpose_business','Purpose_car','Purpose_domestic appliances','Purpose_education','Purpose_furniture/equipment','Purpose_radio/TV','Purpose_repairs']
x = credit_df[metrics]
x.head()

,Age,Sex_female,Job_0,Job_1,Job_2,Credit amount,Duration,Housing_free,Housing_own,Saving accounts_Null,...,Checking account_Null,Checking account_little,Checking account_moderate,Purpose_business,Purpose_car,Purpose_domestic appliances,Purpose_education,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs
0,67,0,0,0,1,1169,6,0,1,1,...,0,1,0,0,0,0,0,0,1,0
1,22,1,0,0,1,5951,48,0,1,0,...,0,0,1,0,0,0,0,0,1,0
2,49,0,0,1,0,2096,12,0,1,0,...,1,0,0,0,0,0,1,0,0,0
3,45,0,0,0,1,7882,42,1,0,0,...,0,1,0,0,0,0,0,1,0,0
4,53,0,0,0,1,4870,24,1,0,0,...,0,1,0,0,1,0,0,0,0,0

In [ ]:
outcome = ["Risk_Num"]
y = credit_df[outcome]
y.head()

   Risk_Num
0         1
1         0
2         1
3         1
4         0

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    x, y, test_size =0.30, stratify=y)
print(X_train.shape)
print(X_test.shape)

(700, 23)
(300, 23)

In [ ]:
credit_df.corr()

,Id,Age,Job,Credit amount,Duration,Risk_Num,Sex_female,Sex_male,Housing_free,Housing_own,...,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others,Risk_bad,Risk_good,Job_0,Job_1,Job_2,Job_3
Id,1.000000,-0.010096,-0.027345,0.013488,0.030788,-0.034606,0.001693,-0.001693,-0.012121,-0.013244,...,-0.003846,-0.017483,-0.012564,-0.028569,0.034606,-0.034606,0.025198,0.011986,-0.005826,-0.015989
Age,-0.010096,1.000000,0.015673,0.032716,-0.036136,0.091127,-0.161694,0.161694,0.253058,0.006553,...,-0.127657,-0.046401,0.039567,0.042365,-0.091127,0.091127,0.059954,0.043712,-0.148283,0.127605
Job,-0.027345,0.015673,1.000000,0.285385,0.210910,-0.032735,-0.070298,0.070298,0.134972,-0.059393,...,0.013422,-0.027683,-0.092751,0.100544,0.032735,-0.032735,-0.437124,-0.691886,0.191751,0.699226
Credit amount,0.013488,0.032716,0.285385,1.000000,0.624984,-0.154739,-0.093482,0.093482,0.201643,-0.117497,...,-0.034037,-0.173203,-0.028875,0.192893,0.154739,-0.154739,-0.027969,-0.161757,-0.092636,0.319715
Duration,0.030788,-0.036136,0.210910,0.624984,1.000000,-0.214927,-0.081432,0.081432,0.189117,-0.075169,...,-0.062804,-0.044319,-0.022549,0.104516,0.214927,-0.214927,-0.044043,-0.181203,0.055010,0.147515
Risk_Num,-0.034606,0.091127,-0.032735,-0.154739,-0.214927,1.000000,-0.075493,0.075493,-0.081556,0.134589,...,-0.020971,0.106922,-0.020828,-0.028058,-1.000000,1.000000,-0.005951,0.021822,0.013559,-0.040559
Sex_female,0.001693,-0.161694,-0.070298,-0.093482,-0.081432,-0.075493,1.000000,-1.000000,-0.100872,-0.119638,...,0.100467,-0.008668,-0.026828,-0.014297,0.075493,-0.075493,0.076356,0.010811,0.007613,-0.054070
Sex_male,-0.001693,0.161694,0.070298,0.093482,0.081432,0.075493,-1.000000,1.000000,0.100872,0.119638,...,-0.100467,0.008668,0.026828,0.014297,-0.075493,0.075493,-0.076356,-0.010811,-0.007613,0.054070
Housing_free,-0.012121,0.253058,0.134972,0.201643,0.189117,-0.081556,-0.100872,0.100872,1.000000,-0.548445,...,-0.071530,-0.109357,0.013706,0.080010,0.081556,-0.081556,0.035671,-0.109543,-0.033633,0.154388
Housing_own,-0.013244,0.006553,-0.059393,-0.117497,-0.075169,0.134589,-0.119638,0.119638,-0.548445,1.000000,...,-0.040496,0.134705,0.019803,-0.011288,-0.134589,0.134589,-0.040480,0.063003,0.012866,-0.071741
Housing_rent,0.025442,-0.212620,-0.039195,-0.024611,-0.064417,-0.092785,0.222845,-0.222845,-0.162474,-0.735968,...,0.105700,-0.070414,-0.034465,-0.051460,0.092785,-0.092785,0.018886,0.014347,0.012049,-0.040344
Saving accounts_Null,0.023566,0.077811,0.029960,0.106546,0.071185,0.129238,-0.043225,0.043225,0.026964,-0.002739,...,-0.081431,0.004378,-0.035721,-0.004655,-0.129238,0.129238,0.017173,-0.049138,0.025230,0.013954
Saving accounts_little,0.007855,-0.044084,-0.000350,-0.036443,-0.047228,-0.161007,0.031244,-0.031244,0.012353,0.000276,...,0.100101,0.000728,0.010227,0.014341,0.161007,-0.161007,-0.003706,0.037811,-0.058800,0.038885
Saving accounts_moderate,-0.008428,-0.075302,0.004472,0.013546,0.051587,-0.022255,0.000498,-0.000498,-0.011914,-0.017738,...,-0.082398,-0.013482,0.016463,0.023084,0.022255,-0.022255,-0.050823,0.019740,0.007564,-0.011525
Saving accounts_quite rich,-0.013110,0.030988,-0.037499,-0.064256,-0.040257,0.070954,-0.031414,0.031414,-0.010662,0.000737,...,0.006382,0.049134,-0.010831,-0.028577,-0.070954,0.070954,0.045288,-0.006174,0.019692,-0.038527
Saving accounts_rich,-0.033723,0.032007,-0.017128,-0.055542,-0.048261,0.085749,0.041673,-0.041673,-0.047989,0.028707,...,0.028091,-0.046259,0.030106,-0.024747,-0.085749,0.085749,-0.001786,-0.018712,0.055810,-0.054065
Checking account_Null,0.027386,0.062436,0.052704,-0.039485,-0.063467,0.322436,-0.027169,0.027169,-0.069575,0.104407,...,-0.065454,0.076027,-0.009320,-0.070068,-0.322436,0.322436,-0.079080,-0.045023,0.075366,-0.019088
Checking account_little,0.036302,-0.011162,-0.026413,-0.020912,0.022244,-0.258333,0.014834,-0.014834,0.067961,-0.125705,...,0.130479,-0.113454,-0.015713,0.014661,0.258333,-0.258333,-0.000428,0.023542,-0.002879,-0.022427
Checking account_moderate,-0.059437,-0.078121,-0.004059,0.119612,0.089452,-0.119581,0.012726,-0.012726,-0.000378,0.001012,...,-0.056750,-0.001607,0.047382,0.078121,0.119581,-0.119581,0.047382,0.018041,-0.067587,0.051999
Checking account_rich,-0.013238,0.037504,-0.050099,-0.100510,-0.076455,0.044009,0.004183,-0.004183,0.015860,0.018934,...,-0.004308,0.058300,-0.038890,-0.028577,-0.044009,0.044009,0.073347,0.014405,-0.022932,-0.015346
Purpose_business,-0.018066,-0.001772,0.001614,0.103016,0.164113,-0.036129,-0.080875,0.080875,-0.059613,0.051083,...,-0.154078,-0.204388,-0.049157,-0.036121,0.036129,-0.036129,-0.003087,0.005068,-0.007768,0.006128
Purpose_car,0.056976,0.099919,0.036762,0.125575,-0.005320,-0.022621,-0.047893,0.047893,0.126806,-0.099526,...,-0.335163,-0.444602,-0.106930,-0.078572,0.022621,-0.022621,0.066143,-0.007405,-0.097759,0.113935
Purpose_domestic appliances,-0.000223,-0.012562,-0.025979,-0.069268,-0.037212,-0.008016,0.045275,-0.045275,-0.038348,0.029317,...,-0.051810,-0.068727,-0.016529,-0.012146,0.008016,-0.008016,0.046082,-0.032144,0.046414,-0.045933
Purpose_education,-0.030881,0.060390,-0.021672,-0.034796,-0.025450,-0.049085,0.052397,-0.052397,0.117976,-0.075684,...,-0.117714,-0.156151,-0.037555,-0.027596,0.049085,-0.049085,-0.008622,0.033952,-0.019075,-0.008749
Purpose_furniture/equipment,-0.003846,-0.127657,0.013422,-0.034037,-0.062804,-0.020971,0.100467,-0.100467,-0.071530,-0.040496,...,1.000000,-0.293164,-0.070508,-0.051810,0.020971,-0.020971,-0.052801,-0.020778,0.064393,-0.042335
Purpose_radio/TV,-0.017483,-0.046401,-0.027683,-0.173203,-0.044319,0.106922,-0.008668,0.008668,-0.109357,0.134705,...,-0.293164,1.000000,-0.093531,-0.068727,-0.106922,0.106922,-0.063164,0.005568,0.085802,-0.096839
Purpose_repairs,-0.012564,0.039567,-0.092751,-0.028875,-0.022549,-0.020828,-0.026828,0.026828,0.013706,0.019803,...,-0.070508,-0.093531,1.000000,-0.016529,0.020828,-0.020828,0.070459,0.044313,-0.012144,-0.062511
Purpose_vacation/others,-0.028569,0.042365,0.100544,0.192893,0.104516,-0.028058,-0.014297,0.014297,0.080010,-0.011288,...,-0.051810,-0.068727,-0.016529,1.000000,0.028058,-0.028058,0.046082,-0.032144,-0.124785,0.186835
Risk_bad,0.034606,-0.091127,0.032735,0.154739,0.214927,-1.000000,0.075493,-0.075493,0.081556,-0.134589,...,0.020971,-0.106922,0.020828,0.028058,1.000000,-1.000000,0.005951,-0.021822,-0.013559,0.040559
Risk_good,-0.034606,0.091127,-0.032735,-0.154739,-0.214927,1.000000,-0.075493,0.075493,-0.081556,0.134589,...,-0.020971,0.106922,-0.020828,-0.028058,-1.000000,1.000000,-0.005951,0.021822,0.013559,-0.040559
Job_0,0.025198,0.059954,-0.437124,-0.027969,-0.044043,-0.005951,0.076356,-0.076356,0.035671,-0.040480,...,-0.052801,-0.063164,0.070459,0.046082,0.005951,-0.005951,1.000000,-0.074991,-0.195709,-0.062511
Job_1,0.011986,0.043712,-0.691886,-0.161757,-0.181203,0.021822,0.010811,-0.010811,-0.109543,0.063003,...,-0.020778,0.005568,0.044313,-0.032144,-0.021822,0.021822,-0.074991,1.000000,-0.652438,-0.208392
Job_2,-0.005826,-0.148283,0.191751,-0.092636,0.055010,0.013559,0.007613,-0.007613,-0.033633,0.012866,...,0.064393,0.085802,-0.012144,-0.124785,-0.013559,0.013559,-0.195709,-0.652438,1.000000,-0.543852
Job_3,-0.015989,0.127605,0.699226,0.319715,0.147515,-0.040559,-0.054070,0.054070,0.154388,-0.071741,...,-0.042335,-0.096839,-0.062511,0.186835,0.040559,-0.040559,-0.062511,-0.208392,-0.543852,1.000000

In [ ]:
credit_df

,Id,Age,Job,Credit amount,Duration,Risk_Num,Sex_female,Sex_male,Housing_free,Housing_own,...,Purpose_furniture/equipment,Purpose_radio/TV,Purpose_repairs,Purpose_vacation/others,Risk_bad,Risk_good,Job_0,Job_1,Job_2,Job_3
0,0,67,2,1169,6,1,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0
1,1,22,2,5951,48,0,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
2,2,49,1,2096,12,1,0,1,0,1,...,0,0,0,0,0,1,0,1,0,0
3,3,45,2,7882,42,1,0,1,1,0,...,1,0,0,0,0,1,0,0,1,0
4,4,53,2,4870,24,0,0,1,1,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,31,1,1736,12,1,1,0,0,1,...,1,0,0,0,0,1,0,1,0,0
996,996,40,3,3857,30,1,0,1,0,1,...,0,0,0,0,0,1,0,0,0,1
997,997,38,2,804,12,1,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0
998,998,23,2,1845,45,0,0,1,1,0,...,0,1,0,0,1,0,0,0,1,0
999,999,27,2,4576,45,1,0,1,0,1,...,0,0,0,0,0,1,0,0,1,0

### **Regressão Logística**

In [ ]:
lr = LogisticRegression(random_state=42, solver='lbfgs')

In [ ]:
#treino do modelo
lr.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(random_state=42)

In [ ]:
y_pred = lr.predict(X_test)
y_pred

array([1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.72

### **Respondendo às perguntas**

In [ ]:
'''
Age
Sex_female
Job_0	Job_1	Job_2
Credit amount
Duration
Housing_free	Housing_own
Saving accounts_Null Saving accounts_little	Saving accounts_moderate	Saving accounts_quite rich
Checking account_Null	Checking account_little	Checking account_moderate
Purpose_business	Purpose_car	Purpose_domestic appliances	Purpose_education	Purpose_furniture/equipment	Purpose_radio/TV	Purpose_repairs


Id,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
1 - Cliente A - Gertrude Rocha
1001, 60, female,2,own,quite rich,NA,2835,24,furniture/equipment,?

2 - Cliente B - Abelardo Jurema
1002, 53, male,1,own,little,NA,2835,36,furniture/equipment,?

3 - Cliente C - Sérgio
1003,20,male,2,free,moderate,moderate,5866,18,car,?

#23 colunas
1- 60,1, 0,0,1, 2835,24, 0,1, 0,0,0,1, 1,0,0, 0,0,0,0,1,0,0
2- 53,0, 0,1,0, 2835,36, 0,1, 0,1,0,0, 1,0,0, 0,0,1,0,0,0,0
3- 20,0, 0,0,1, 5866,18, 1,0, 0,0,1,0, 0,0,1, 0,1,0,0,0,0,0
'''

cliente1 = [60,1, 0,0,1, 2835,24, 0,1, 0,0,0,1, 1,0,0, 0,0,0,0,1,0,0]
cliente2 = [53,0, 0,1,0, 2835,36, 0,1, 0,1,0,0, 1,0,0, 0,0,1,0,0,0,0]
cliente3 = [20,0, 0,0,1, 5866,18, 1,0, 0,0,1,0, 0,0,1, 0,1,0,0,0,0,0]

clientesAnalise = [cliente1, cliente2, cliente3]

respostas = lr.predict(clientesAnalise)
respostas #1: good e 0:bad

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

array([1, 1, 1])